.caixa {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  gap: 0px;
}

#titulo {
  text-align: center;
  background-color: rgb(145, 98, 29);
  padding: 30px;
  border-radius: 5px;
  margin: 15px 500px;
}

#ranking {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px 300px 30px 300px;
  padding: 40px 200px;
  border-radius: 5px;
  background-color: rgb(145, 98, 29);
}

.posicao {
  display: grid;
  grid-template-columns: auto minmax(5rem, 50rem) 7rem;
  background-color: rgb(187, 134, 53);
  padding: 20px 20px 20px 40px;
  margin: 10px;
  border-radius: 7px;
  place-self: end;
}

.qnt_johns {
  display: block;
  grid-column: 3;
  grid-row: 1;
}
