<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style_ranking.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../js/script.js" defer></script>
  <title>John Clicker</title>
</head>

<body class="gradient">
  <nav id="topo">
    <ul class="desktop">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="index.html#coluna_upgrades">Mercado</a>
      </li>
      <li>
        <a href="tela_ranking.html">Ranking</a>
      </li>
      <li>
        <a href="tela_suporte.html">Suporte</a>
      </li>
      <li>
        <a style="border-right: 1px solid rgb(145, 98, 29);" href="tela_entrar.html">Entrar</a>
      </li>
    </ul>
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>
      </button>
      <div class="dropdown-menu">
          <ul class="mobile">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                  <a href="#coluna_upgrades">Mercado</a>
              </li>
              <li>
                  <a href="">Ranking</a>
              </li>
              <li>
                  <a href="tela_suporte.html">Suporte</a>
              </li>
              <li>
                  <a href="tela_entrar.html">Entrar</a>
              </li>
          </ul>
      </div>
  </div>
  </nav>
  <div class="caixa">
    <h1 id="titulo">Melhores Produtores de Johns</h1>
    <div id="ranking">
      <ol>
        <li class="posicao" id="primeiro"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="segundo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="terceiro"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="quarto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="quinto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="sexto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="setimo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="oitavo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="nono"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="dec"> Fulano <span class="qnt_johns"> XX Johns</span></li>
      </ol>
    </div>
  </div>
</body>

</html>