<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style_ranking.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>John Clicker</title>
</head>

<body class="gradient">
  <h1 id="titulo">Melhores Produtores de Johns</h1>
  <div id="ranking">
    <ol>
      <li id="primeiro"> </li>
      <li id="segundo"> </li>
      <li id="terceiro"> </li>
      <li id="quarto"> </li>
      <li id="quinto"> </li>
      <li id="sexto"> </li>
      <li id="setimo"> </li>
      <li id="oitavo"> </li>
      <li id="nono"> </li>
      <li id="dec"> </li>
    </ol>
  </div>
</body>

</html>