<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style_ranking.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>John Clicker</title>
</head>

<body class="gradient">
  <nav id="topo">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="index.html#coluna_upgrades">Mercado</a>
      </li>
      <li>
        <a href="tela_ranking.html">Ranking</a>
      </li>
      <li>
        <a href="tela_suporte.html">Suporte</a>
      </li>
      <li>
        <a style="border-right: 1px solid rgb(145, 98, 29);" href="tela_entrar.html">Entrar</a>
      </li>
    </ul>
    <div id="menu-bar-small-layout">
      <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="https://www.w3.org/2000/svg" class="IconSandwich" data-testid="drawerButton">
        <path d="M0.75 0.5H29.25V3.66667H0.75V0.5ZM0.75 8.41667H29.25V11.5833H0.75V8.41667ZM0.75 16.3333H29.25V19.5H0.75V16.3333Z" fill="#fff"></path>
      </svg>
    </div>
  </nav>
  <div class="caixa">
    <h1 id="titulo">Melhores Produtores de Johns</h1>
    <div id="ranking">
      <ol>
        <li class="posicao" id="primeiro"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="segundo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="terceiro"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="quarto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="quinto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="sexto"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="setimo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="oitavo"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="nono"> Fulano <span class="qnt_johns"> XX Johns</span></li>
        <li class="posicao" id="dec"> Fulano <span class="qnt_johns"> XX Johns</span></li>
      </ol>
    </div>
  </div>
</body>

</html>